#wrap{width: 1920px;  margin: 0 auto; }

#header{width: 1920px; height: 40px; background: #fafafa;}
#nav{width: 1920px; height: 80px; background: #fff;}
#visual{width: 1920px; height: 400px; background:gray;}
#contents01{width: 1920px; height: 150px; background: #fff;}
#contents02{width: 1920px; height: 218px; background: #fff;}
#contents03{width: 1920px; height: 436px; background: #fafafa;}
#contents04{width: 1920px; height: 1050px; background: #fff;}
#footer{ width: 1920px; height: 150px; background: #fafafa;}


.top_menu{width: 1280px; height: 40px; margin: 0 auto;}
.top_left{float: left; }
.top_left a{float: left; padding-right: 20px; line-height: 40px; color: #666;}
.top_right{float: right; }
.top_right a{float: left; padding-left: 20px; line-height: 40px; color: #666;}

.gnb{width: 1280px; height: 80px; margin: 0 auto;}
.gnb a{width: 200px; height: 40px;}
.gnb a img{padding-top: 20px; float:left;}
.gnb .menu{float:right;}
.gnb .menu ul{font-size: 18px; float: left; padding-left: 60px; line-height: 80px;}

.con01{width: 1280px; height: 150px; margin: 0 auto; }
.con01 .notice{float: left; width: 920px; height: 110px; margin-top: 40px;}
.con01 .notice .tit{float: left; }
.con01 .notice .tit p{font-size: 28px;}
.con01 .notice .tit button{float: left; border: 1px solid #e1e1e1; margin-top: 20px; background-color: #fff; padding: 2px; }
.con01 .notice .list{float: right; width: 730px; height: 108px; border: 1px solid #e1e1e1;}
.con01 .info{float: right; width: 284px;  height: 108px;  border: 1px solid #e1e1e1;  margin-top: 40px;}

.con02{width: 1280px; height: 218px; margin: 0 auto; }
.con02 .service{float: left; width: 1280px; height: 136px; margin-top: 40px;}
.con02 .service .tit{float: left;}
.con02 .service .tit p{font-size: 28px;}
.con02 .service .link{float: right; width: 1090px;  height: 134px;}
.con02 .service .link ul {float: left;  width: 120px;  border: 1px solid #e1e1e1;  margin-right: 14px;  padding: 10px;}
.con02 .service .link ul:last-child {margin-right: 0px;}
.con02 .service .link ul li {text-align: center;}

.con03{width: 1280px; height: 436px; margin: 0 auto; }
.con03 .pre_arrow{
    float: left;
    line-height: 340px;
    padding-top: 90px;
}
.con03 .next_arrow{
    float: right;
    line-height: 340px;
    padding-top: 90px;
}

.con03 .market_link{
    width: 1080px;
    height: 436px;
    background: #fafafa;
    margin: 0 auto; 
}
.con03 .market_link .tit{
    padding-top: 40px; 
    font-size: 28px; 
    text-align: center; 
}
.con03 .market_link .link{
    padding-top: 40px;  
    margin: 0 auto; 
    background: #fafafa;
}

.con03 .market_link .link ul{
    margin-right: 60px;
    float: left;
    width: 320px;
    height: 240px;
    background: #777;
}
.con03 .market_link .link ul .img{
    width: 320px;
    height: 240px;
    background: #777;
}
.con03 .market_link .link ul .copy{
    width: 318px;
    height: 40px;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-top: 0;
}
.con03 .market_link .link ul:last-child{
    margin-right: 0;
    float: right;
}





.con04{width: 1280px; height: 1050px; margin: 0 auto; background: #777;}
.footer_wrap{width: 1280px; height: 150px; margin: 0 auto; background: #888;}

