#wrap{font-family: 'NotoSansKR'; width: 1920px;  margin: 0 auto; }

/* 전체 레이아웃 */

#header_top{width: 1920px; height: 40px; background: #fafafa; border-bottom: 1px solid #e1e1e1;}
#header_nav{width: 1920px; height: 80px; background: #fff; border-bottom: 1px solid #e1e1e1;}
#banner{width: 1920px; height: 400px; background:gray;}
#content1{width: 1920px; height: 150px; background: #fff;}
#content2{width: 1920px; height: 218px; background: #fff;}
#content3{width: 1920px; height: 436px; background: #fafafa;}
#content4{width: 1920px; height: 1050px; background: #fff;}
#site{width: 1920px; height: 150px; border-top: 1px solid #e1e1e1;}
#footer_nav{ width: 1920px; height: 50px;  background: #fafafa; border-top: 1px solid #e1e1e1;}
#footer_info{width: 1920px; height: 100px; }


/* 컨테이터 */
.container {width: 1280px; margin: 0 auto; }


/* header */
.top_left{float: left; }
.top_left a{float: left; padding-right: 20px; line-height: 40px; color: #666;}
.top_right{float: right; }
.top_right a{float: left; padding-left: 20px; line-height: 40px; color: #666;}

.logo a{width: 200px; height: 40px; float:left;}
.logo a img{padding-top: 20px; float:left;}
.gnb{float:right;}
.gnb ul{font-size: 18px; float: left; padding-left: 60px; line-height: 80px;}


/* 컨텐츠1 */
.notice{float: left; width: 920px; height: 110px; margin-top: 40px;}
.notice .tit{float: left; }
.notice .tit p{font-size: 28px;}
.notice .tit button{float: left; border: 1px solid #e1e1e1; margin-top: 20px; background-color: #fff; padding: 2px; }
.notice .list{float: right; width: 730px; height: 108px; border: 1px solid #e1e1e1;}
.info{float: right; width: 284px;  height: 108px;  border: 1px solid #e1e1e1;  margin-top: 40px;}

.service {width:1280px; padding-top: 40px; }
.service .tit{float: left;}
.service .tit p{font-size: 28px;}
.service_link {float: right; width: 1090px;  height: 134px;}
.service_link ul {float: left;  width: 120px;  border: 1px solid #e1e1e1;  margin-right: 14px;  padding: 10px;}
.service_link ul:last-child {margin-right: 0px;}
.service_link ul li {text-align: center;}


.btn .pre_arrow{float: left; line-height: 340px; padding-top: 90px;}
.btn .next_arrow{float: right; line-height: 340px; padding-top: 90px;}


.market_link{ width: 1062px; height: 436px;  background: #fafafa;  margin: 0 auto;}
.market_link .tit{ padding-top: 40px;  font-size: 28px;  text-align: center; }
.market_link .link{ width: 1062px; height: 300px; padding-top: 40px;}

.market_link .link ul{ margin-right: 24px; float: left;  width: 338px;  height: 300px;}
.market_link .link ul .market_img { width: 338px; height: 250px; border: 1px solid #e1e1e1;}
.market_link .link ul li .img{ width: 338px; height: 250px; float: left;}
.market_link .link ul .copy{ width: 338px; height: 50px; line-height: 50px; background: #fff;
    border: 1px solid #e1e1e1;  border-top: 0;}

.market_link .link ul .copy span{ padding: 8px 10px;  font-size: 18px; font-weight: bold;}
.market_link .link ul:last-child{ margin-right: 0; float: right;}






.shopping{width: 1080px; height: 852px; margin: 0 auto;}
.shopping .tit{padding-top: 40px; font-size: 28px; text-align: center;}

.shopping .shop {padding-top: 40px;}
.shopping .shop_list { height: 852px; float: left;}
.shopping .shop_list .list{ height: 282px;  border: 1px solid #e1e1e1;}
.shopping .shop_list .list{ border-right:0;}
.shopping .shop_list .list ul { padding: 16px; background: #fff; float: left; border-right: 1px solid #e1e1e1;}
.shopping .shop_list .list:nth-child(1){border-bottom: 0;}
.shopping .shop_list .list:nth-child(2){border-bottom: 0;}

.shopping .shop_list .list ul .shop_img{width: 200px;  height: 200px;}
.shopping .shop_list .list ul li{width: 200px; height: 50px;}
.shopping .shop_list .list ul li span{ line-height: 50px;}

.shopping .shop_ban{width: 340px; height: 852px; float: right;}
.shopping .shop_ban ul{ width:340px; height: 270px; margin-bottom:20px;}
.shopping .shop_ban ul:last-child{ padding-bottom:0;}
.shopping .shop_ban ul .copy{ width:340px; height: 60px; padding: 8px 10px; color: #fff;}
.shopping .shop_ban ul .copy p{font-size: 18px; font-weight: bold;}
.shopping .shop_ban ul:nth-child(1){background:#4caf50 ;}
.shopping .shop_ban ul:nth-child(2){background:#db2f21 ;}
.shopping .shop_ban ul:nth-child(3){background:#555555 ;}


/* .site_link */
.site_link{width: 1280px;  height: 120px;  margin: 0 auto;  padding-top: 40px;}

.site_link ul{ width: 1080px; margin: 0 auto; }
.site_link ul li{float: left; padding-right: 40px;}
.site_link ul li:nth-child(4){ float: left; padding-right: 0;}

.site_link  .pre_arrow{float: left; line-height: 110px; }
.site_link  .next_arrow{float: right; line-height: 110px;}


/* footer_wrap */

.footer_menu{ width: 1080px; height: 50px; margin: 0 auto;  }
.footer_menu span{ float: left; padding-right: 40px; line-height: 50px; }

.footer_wrap .copy{ border-top: 1px solid #e1e1e1;}